#map {
   height: 580px;
   min-height: 500px;
   width: 80%;
   min-width: 300px;
   max-width: 1000px;
   margin: 6px auto 0px auto;
   font-size: 1rem;
   border-radius: 15px;
   border: 2px solid rgba(0, 0, 0, 0.6);
   background-color: white;
   z-index: 20;

   a {
      font-size: 1rem;
   }
}

.leafletmap_quizNameForm {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 6px;
   margin: 6px;
   min-width: fit-content;
   
   .createQuizBtn {
      padding: 12px;
      transform: translateY(4px);
   }

   button:active {
      transform: translateY(4px) scale(96%);
   }
}