.createQuizFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .createQuizForm {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 12px;
  
    .inputField {
      width: 50%;
      margin: 10px;
    }
  
    input {
      min-width: 250px;
    }
  
    .createQuizFormBtn {
      transform: translateY(4px);
      padding: 24px;

    }
  
    .createQuizFormBtn:active {
      transform: translateY(4px) scale(96%);
    }
  }
}


.createQuizFormTable {
  background-color: rgb(253, 205, 177);
  margin: 0px auto;
  max-width: 80%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7);
  background: rgb(88,71,71);
  background: linear-gradient(180deg, rgba(88,71,71,1) 20%, rgba(60,53,53,1) 40%, rgba(54,48,48,1) 60%, rgba(39,36,36,1) 80%);
  color: white;
  
  td, th {
    text-align: center;
    width: 160px;
    padding: 6px;
  }

  th {
    text-align: center;
    width: 160px;
    padding: 6px;
  }

  td {
    text-align: center;
    width: 160px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  tbody tr:last-child {
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
  }

  thead tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  tbody tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 6px;
  }
}


@media screen and (max-width: 700px) {
  .createQuizFormContainer {

    .createQuizForm {
      flex-direction: column;

      .createQuizFormBtn {
        padding: 24px 20px;
      }
    }
  }

  .createQuizFormTable {
    display: none;
  }
}



