.quizCard {
  background: linear-gradient(180deg, #bdb864, #af4261);
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.quizCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.quizCard:active {
  transform: translateY(-5px) scale(98%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.quizCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.quizCard h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
}

.questionBadge {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 0.9em;
  font-weight: 700;
  box-shadow: -0px 1px 1px rgba(0, 0, 0, 0.2);
}

.quizCardBody {
  font-size: 1.1em;
  font-weight: 400;
}

.quizCardBody p {
  margin: 5px 0px;
}

.quizCardBody p:first-of-type {
  font-weight: 600;
  color: #e0e0e0;
}