.loginPageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
  width: 100%;
  padding: 20px;
  background-color: white;

  .loginPageMain_title {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  form {
    margin: 20px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;

    button {
      margin: 5px;
      padding: 16px;
    }
  }
}