.answerQuizForm {
display: flex;
align-items: center;
justify-content: center;
margin: 24px;
/* background-color: white; */

  .inputField {
    margin: 0px 10px 0 30px;

    legend {
      background-color: rgb(255, 255, 255);
      border-radius: 6px;
      border: 1px solid black;
      padding: 0 4px;
    }
  }

  .questionField {
    color: black;
    padding: 0px 20px;
  }

  .answerQuizFormBtn {
    padding: 16px;
  }
}

.answerQuizTable {
  background-color: rgb(253, 205, 177);
  margin: 0px auto;
  max-width: 80%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7);
  background: rgb(88,71,71);
  background: linear-gradient(330deg, rgba(88,71,71,1) 20%, rgba(60,53,53,1) 40%, rgba(54,48,48,1) 60%, rgba(39,36,36,1) 80%);
  color: white;
  font-size: 1.2rem;

  td, th {
    text-align: center;
    width: 160px;
    padding: 6px;
  }
  
  th {
    text-align: center;
    width: 160px;
    padding: 6px;
  }
  
  td {
    text-align: center;
    width: 160px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    
  }
  
  tr:last-child {
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
  }
  
  thead tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
  
  tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 6px;
    gap: 0;
  }
}

@media screen and (max-width: 700px) {
  .answerQuizForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
    
      .inputField {
        margin: 0px 10px 0 10px;
    }
  }
    
  .answerQuizTable {

    td, th {
      width: 110px;
      padding: 6px;
    }
  }

}


